SUBSYSTEM=="hidraw", DEVPATH=="*:1.7/[0-9][0-9][0-9][0-9]:05AC:1114.[0-9][0-9][0-9][0-9]/*", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="1114", MODE="0660", TAG+="uaccess", SYMLINK+="asdbl-%s{serial}"
